body {
    background-image: url("images/celmentine-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-image 0.8s ease-in-out; 
}

.clem-img {
    width: 300px;
    height: 300px;
    border-radius: 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5) ;
    display: block;
    margin: 0 auto 20px auto;
    position: relative;
    object-fit: cover;
    object-position: center;
}

h1 {
    margin-bottom: 40px;
    font-size: 60px;
    letter-spacing: 2.5px;
}

a {
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: rgba(34, 29, 20, 0.3)
    
}

a:hover {
    color: rgb(182, 178, 178);
    text-transform: uppercase;
    text-decoration: none;
}

.card{
    background-color: rgba(65, 44, 30, 0.5);
    margin: auto;
    width: 800px;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    transition: 0.3s ease;
}

.text {
    font-weight: bold;
}

.description{

    line-height: 1.4;
    text-align: justify;
    margin: 20px 0;
    font-weight: bold;
    border: 2px solid rgba(34, 34, 34, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgba(34, 24, 17, 0.5);
}

.slider-wrapper{
    margin: 0 auto;
    position: relative;
    display: inline-block;
}

.right-arrow, .left-arrow {
    position: absolute;
    width: 50px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    transition: transform 0.2s ease, opacity 0.2s ease;
    filter: invert(1);
    background-color: transparent;
    border: none;
    padding: 0;
}

.left-arrow{
    left: -80px;
    transform: translateY(-50%)
}
.left-arrow:hover {
    opacity: 0.8;
    transform: translateY(-50%) scale(1.2);
    filter: invert(1) drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}

.right-arrow{
    right: -80px;
    transform: translateY(-50%)
}

.right-arrow:hover {
    opacity: 0.8;
    transform: translateY(-50%) scale(1.2);
    filter: invert(1) drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}


h3{
    text-align: center;
}